.content-body {
    margin-top: 64px;
}

.content-body .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #111;
    margin-bottom: 64px;
}

.content-body .container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px 30px;
    margin-bottom: 44px;
}

.content-body .container .wrapper {
    height: 360px;
    
}

.container .wrapper .background {
    cursor: pointer;
}

.container .wrapper .background:hover {
    opacity: .7;
    transition: .3s;
}

.container .wrapper .background img {
    width: 100%;
}


.container .wrapper .title {
    font-size: 14px;
    margin-top: 30px;
}

