.body-multiple-choice {
    background: url('https://phothongcaodang.fpt.edu.vn/wp-content/uploads/xBG-trac-nghiem.jpg,qid=108929.pagespeed.ic.7saATGFgvW.webp');
    background-size: 100% 100%;
    
    height: 750px;
}

input:focus, select:focus {
    outline: none;
}

.body-multiple-choice .container {
    position: relative;
}

.body-multiple-choice .container>div {
    position: absolute;
    width: 50%;
    right: 5px;
    top: 10px;
    margin-top: 155px;
    
}

.body-multiple-choice .container>div p {
    color: white;
    font-style: italic;
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 35px;
}

.body-multiple-choice .container>div .table {
    background-color: #f7941d;
    padding: 20px;
}

.body-multiple-choice .container>div .table form>div {
    display: flex;
    margin-bottom: 25px;
    
}
.body-multiple-choice .container>div .table form>div>div {
    width: 50%;
    padding: 0 10px
}
.body-multiple-choice .container>div .table form>div>div .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.body-multiple-choice .container>div .table form>div>div .title span {
    color: #790000;;  
}

.body-multiple-choice .container>div .table form>div>div .input input, .table-row3>div>select {
    width: 100%;
    height: 40px;
    padding: 5px 4px;
    border: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 0!important;
}

.button button {
    font-size: 12px;
    border: none;
    color: #fff;
    background-color: #272f54;
    padding: 15px 20px;
    cursor: pointer;
}